@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  /* background-color: #ffffff; */
}

.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  border-bottom: 1px solid #ebebeb;
}

.overall-sidebar-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 350px;
  box-shadow: 10px 10px 5px 0px #e5e5e5;
  -webkit-box-shadow: 10px 10px 5px 0px #e5e5e5;
  -moz-box-shadow: 10px 10px 5px 0px #e5e5e5;
  height: 100%;
  border: 1px solid #e4e4e4;
  background-color: white;
}

.single-category-container {
  padding: 1.15rem;
}

.single-category-container > p {
  cursor: pointer;
}

.single-category-container > p:hover {
  color: #a20401;
}

.single-category-container:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.recently-viewed-products {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.track-order-container {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-container {
  margin: 0 0.6rem;
}

.specific-desc {
  cursor: pointer;
  font-size: 0.8rem;
}

.specific-desc:hover {
  color: #a20401;
}

.sidebar {
  margin-top: -25px;
}

.logo-sidebar {
  margin: 5px 10px;
}

.logo-close-component-btn-container {
  border-bottom: 1px solid #e4e4e4;
}

.sign-in-container {
  position: absolute;
  z-index: 1000;
  top: 54px;
  background-color: #fff;
  right: 65px;
  width: 250px;
  padding: 1.5rem;
  border: 1px solid #e4e4e4;
  height: auto;
}

.login {
  text-align: end;
  position: absolute;
  top: 45px;
  right: 15px;
}

.shopping-cart-container {
  z-index: 1000;
  position: absolute;
  top: 54px;
  background-color: #fff;
  right: 65px;
  width: 400px;
  padding: 1.5rem;
  border: 1px solid #e4e4e4;
  height: auto;
}

.desc-large {
  font-weight: 600;
  padding: 0.2rem 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.email-desc,
.password-desc {
  padding: 1rem 0;
  color: #b6b3b3;
}

.email-input,
.password-input {
  width: 100%;
  border: 1px solid #b6b3b3;
  padding: 0.4rem;
  border-radius: 5px;
}

.submit-btn-checkbox-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn-container {
  width: 40%;
  margin-right: 0.3rem;
}

.submit-btn {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.5rem 0.7rem;
}

.submit-btn:hover {
  background-color: #a20401;
}

.checkbox-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-desc {
  font-size: 13px;
  margin-left: 0.3rem;
}

.to-shopping-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.to-shopping-container:hover {
  color: #a20401;
}

.to-shopping-desc {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.75rem;
}

.hamburger-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.logo {
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 900;
  text-transform: uppercase;
}

.link-style-logo {
  text-decoration: none;
  color: #000;
}

.nav-routes-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.link-style {
  padding: 0 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

.link-style:hover {
  color: #a20401;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  padding: 0.7rem;
}

.search {
  border: none;
  outline: none;
}

.search-icon-container,
.account-icon-container,
.favourite-icon-container,
.shopping-cart-icon-container {
  border: 1px solid #b6b3b3;
  text-align: center;
  padding: 0.25rem;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.search-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  background-color: #fff;
  left: 0;
  /* opacity: 0.95; */
  width: 100vw;
  height: auto;
  padding-bottom: 4rem;
}

.clear-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 25px;
}

.clear-btn-icon {
  border: none;
  outline: none;
}

.search-desc {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}

.search-input-container {
  width: 75%;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin: 45px auto;
}

.search-input {
  outline: none;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0.6rem;
  background-color: inherit;
  width: 96%;
}

.search-input-btn {
  padding-top: 0.6rem;
  background-color: inherit;
  border: none;
  outline: none;
}

.search-icon {
  background-color: inherit;
}

.search-product-by-category {
  text-decoration: none;
  color: black;
}

.categories-search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: 15px auto;
}

.product-categories-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.individual-category {
  width: 90px;
  text-align: center;
  margin: 0 10px;
  border-radius: 15px;
  border: 1px solid #e4e4e4;
  padding: 0.4rem 0.8rem;
}

.individual-category:hover {
  border: 1px solid rgb(17, 17, 17);
}

.favourite-icon-container {
  position: relative;
}

.shopping-cart-icon-container {
  position: relative;
}

.search:hover {
  color: #a20401;
}

.search-icon-container:hover {
  border: 1px solid #a20401;
}

.account-icon-container:hover {
  border: 1px solid #a20401;
}

.favourite-icon-container:hover {
  border: 1px solid #a20401;
}

.shopping-cart-icon-container:hover {
  border: 1px solid #a20401;
}

.items-count {
  position: absolute;
  background-color: #a20401;
  color: white;
  top: -8px;
  right: -10px;
  font-size: 10px;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  border-radius: 50%;
}

.select-image {
  width: 270px;
  cursor: pointer;
  height: 400px;
  border-radius: 8px;
  margin: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.furniture-span {
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.bedroom-span {
  position: absolute;
  top: 200px;
  left: 400px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.kitchen-span {
  position: absolute;
  top: 200px;
  left: 710px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.offices-span {
  position: absolute;
  top: 200px;
  left: 1020px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.4rem 1.4rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

.brief-desc-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.tag-desc-container {
  text-align: center;
}

.desc-container {
  margin-top: 30px;
}

.part-one {
  font-weight: 600;
}

.part-two {
  color: #b6b3b3;
}

.daily-flash-sale-container {
  margin: 20px 0;
  width: 100vw;
}

.daily-flash-sale-desc {
  font-size: 1.9rem;
  font-weight: 600;
  color: #a20401;
  text-align: center;
}

.daily-flash-sales-products-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.individual-sale-daily {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.plastic-chair {
  cursor: pointer;
  width: 270px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.modal-opener {
  cursor: pointer;
  position: absolute;
  top: 110px;
  opacity: 0;
  left: 120px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
}

.modal-opener:hover {
  background-color: white;
  opacity: 1;
  color: #a20401;
}

.flash-sale {
  text-align: start;
  font-size: 16px;
  color: #3a3a3a;
}

.price-desc-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.previous-price {
  color: #8d8d8d;
  font-size: 14px;
  text-decoration: line-through;
}

.current-price {
  color: #a20401;
  font-weight: lighter;
  font-size: 16px;
}

.cta-btn-container {
  border-top: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.read-more {
  padding-top: 1rem;
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #a09f9f;
  cursor: pointer;
}

.read-more:hover {
  color: #972d2b;
}

.modal-only {
  margin-left: 58rem;
}

.quick-product-desc-container {
  position: absolute;
  z-index: 900;
  background-color: white;
  width: 80%;
  margin: -100px auto 100px auto;
  height: 500px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  box-shadow: 10px 10px 5px 0px #e5e5e5;
  -webkit-box-shadow: 10px 10px 5px 0px #e5e5e5;
  -moz-box-shadow: 10px 10px 5px 0px #e5e5e5;
}

.product-category-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.first-column-container {
  height: 400px;
  margin-right: 15px;
}

.rugs-container {
  cursor: pointer;
  width: 350px;
  height: 200px;
  margin-bottom: 15px;
  position: relative;
}

.rugs-container > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.rugs-desc-one {
  position: absolute;
  font-weight: 500;
  font-size: 1.6rem;
  top: 120px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: white;
  padding-bottom: 20px;
}

.rugs-desc-two {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 160px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: white;
}

.lamp-shade-container {
  cursor: pointer;
  width: 350px;
  height: 183px;
  position: relative;
}

.lamp-shade-container > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.lamp-desc-one {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 70px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: white;
}

.lamp-shade-two {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 100px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: white;
}

.second-column-container {
  position: relative;
  background-image: url("/dressing-table.jpg");
  width: 350px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 15px;
}

.second-column-container > img {
  width: 100%;
  height: 100%;
}

.big-desc-one {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 50px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: black;
}

.big-shade-two {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 80px;
  left: 15px;
  background-color: rgba(53, 50, 50, 0);
  color: black;
}

.big-image-btn {
  position: absolute;
  top: 120px;
  left: 15px;
  border: none;
  outline: none;
  background-color: rgba(53, 50, 50, 0);
}

.cta-bg-image {
  background-color: rgba(53, 50, 50, 0);
}

.cta-bg-image:hover {
  color: white;
}

.shop-by-department-container {
  margin: 3rem 0;
  width: 100%;
}

.shop-by-department {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 15px auto;
}

.product-desc-container > p {
  text-align: center;
}

.individual-product-container {
  width: 16%;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
}

.a-product-image > img {
  width: 80%;
}

.individual-product-container:hover {
  margin: 0;
  border: 1px solid #dddddd;
}

.select-by-category {
  font-size: 1.8rem;
  font-weight: 500;
}

.select-by-category-container {
  margin: 4rem 0;
}

.products-by-category-tabs-container {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tab-nav-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-nav-link {
  list-style: none;
  margin: 0 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.tab-nav-link:focus {
  font-weight: 500;
  color: #a20401;
}

.popular-blogs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.6rem;
}

.individual-blog-post-container {
  height: 350px;
  margin: 0.3rem 1rem;
  width: 300px;
}

.blog-post-image-container {
  width: 300px;
  border-radius: 5px;
}

.blog-image {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.blog-image:nth-child(3) {
  padding-top: 1.6rem;
}

.blog-post-category {
  color: #a20401;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.blog-post-title {
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}

.blog-post-title:hover {
  color: #a20401;
}

.author-date-views-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.author {
  display: flex;
  align-items: center;
  color: #8d8d8d;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

.author-name,
.publishing-date {
  color: #b6b3b3;
}

.author-name {
  cursor: pointer;
  margin: 0 0.4rem;
  font-size: 0.9rem;
}

.author-name:hover {
  color: #a20401;
}

.newsletter-container {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  color: #f5f5f5;
  background-color: #a20401;
  padding: 2rem;
}

.email-input-social-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigger-text {
  font-size: 2rem;
}

.smaller-text {
  font-size: 0.9rem;
}

.email-input-submit-btn-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 15px;
  width: 50%;
}

.email {
  padding: 0.8rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: inherit;
  font-size: 1rem;
  color: rgb(14, 13, 13);
  outline: none;
  border: none;
  width: 95%;
}

.email:focus {
  background-color: inherit;
}

.send-email {
  background-color: #fff;
  color: #000;
  margin-left: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.send-email:hover {
  color: #a20401;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: white;
  padding: 0.4rem;
  border-radius: 50%;
  margin: 1rem;
}

.overall-footer-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 1.5rem;
}

.all-shopping-categories-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.footer-logo-added-details-payment-modes-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  padding: 0.8rem;
  margin-bottom: 2rem;
  justify-content: space-around;
  margin-top: 2rem;
}

.copyright-footer-navs-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.furniture-category-container,
.outdoor-category-container,
.decor-and-pillows-category-container,
.appliances-category-container,
.bed-and-bath-category-container,
.baby-and-kids-category-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.outdoor-category-container {
  margin-top: -25px;
}

.appliances-category-container {
  margin-top: -25px;
}

.bed-and-bath-category-container {
  margin-top: -25px;
}

.decor-and-pillows-category-container {
  margin-top: -25px;
}

.footer-category-header {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.footer-link {
  margin: 0.2rem 0;
  text-decoration: none;
  color: #a19f9f;
  cursor: pointer;
  font-size: 0.9rem;
}

.footer-link:hover {
  color: #992725;
}

.payment-modes-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mpesa-container {
  margin: 0 0.6rem;
}

.mastercard-container {
  margin: 0 0.6rem;
}

.visa-container {
  margin: 0 0.6rem;
}

.paypal-container {
  margin: 0 0.6rem;
}

.assist-details-desc {
  font-weight: 500;
  font-size: 1.3rem;
}

.shop-opening-hours {
  color: #b6b3b3;
  font-size: 1rem;
}

.copyright-container {
  margin-left: 2rem;
}

.copyright-desc {
  color: #494949;
  font-size: 0.8rem;
}

.span-footer {
  color: #a20401;
  padding: 0 0.3rem;
}

.footer-navs-container {
  margin: 1rem;
}

.footer-copyright-link {
  text-decoration: none;
  color: #494949;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}

.footer-copyright-link:hover {
  color: #a20401;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 2rem;
}

.shop-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  /* padding-bottom: 1rem; */
}

.breadcrumb-link {
  text-decoration: none;
  color: black;
}

.breadcrumb-link:hover {
  color: #a20401;
}

.large-text {
  font-size: 2.75rem;
  font-weight: 600;
}

.breadcrumb-page-title-products-category-container {
  margin-top: -33px;
  background-color: #f6f5f6;
}

.individual-product-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background-color: white;
  padding: 0.7rem;
  width: 230px;
  border-radius: 5px;
  margin: 0.8rem 1rem;
}

.product-image-container > img {
  width: 100px;
}

.product-category-name {
  cursor: pointer;
}

.product-category-name:hover {
  color: #a20401;
}

.product-count {
  font-size: 13px;
  color: #979696;
}

.product-category-name-product-count-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-categories-container-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}
